In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
import pandas as pd
file_id =r'C:\Users\Omar_Atif\Desktop\jupyter python\zomato.csv'
url = file_id
df = pd.read_csv(url)
df.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [3]:
print("Before cleaning:")
print(df.shape)
print(df.isna().sum())
print(df.describe(include='all'))

Before cleaning:
(51717, 17)
url                                0
address                            0
name                               0
online_order                       0
book_table                         0
rate                            7775
votes                              0
phone                           1208
location                          21
rest_type                        227
dish_liked                     28078
cuisines                          45
approx_cost(for two people)      346
reviews_list                       0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64
                                                      url        address  \
count                                               51717          51717
unique                                              51717          11495
top     https://www.zomato.com/bangalore/jalsa-banasha...  Delivery Only
freq                                                    1            128
mean                                                  NaN            NaN
std                                                   NaN            NaN
min                                                   NaN            NaN
25%                                                   NaN            NaN
50%                                                   NaN            NaN
75%                                                   NaN            NaN
max                                                   NaN            NaN

                   name online_order book_table   rate         votes  \
count             51717        51717      51717  43942  51717.000000
unique             8792            2          2     64           NaN
top     Cafe Coffee Day          Yes         No    NEW           NaN
freq                 96        30444      45268   2208           NaN
mean                NaN          NaN        NaN    NaN    283.697527
std                 NaN          NaN        NaN    NaN    803.838853
min                 NaN          NaN        NaN    NaN      0.000000
25%                 NaN          NaN        NaN    NaN      7.000000
50%                 NaN          NaN        NaN    NaN     41.000000
75%                 NaN          NaN        NaN    NaN    198.000000
max                 NaN          NaN        NaN    NaN  16832.000000

               phone location    rest_type dish_liked      cuisines  \
count          50509    51696        51490      23639         51672
unique         14926       93           93       5271          2723
top     080 43334321      BTM  Quick Bites    Biryani  North Indian
freq             216     5124        19132        182          2913
mean             NaN      NaN          NaN        NaN           NaN
std              NaN      NaN          NaN        NaN           NaN
min              NaN      NaN          NaN        NaN           NaN
25%              NaN      NaN          NaN        NaN           NaN
50%              NaN      NaN          NaN        NaN           NaN
75%              NaN      NaN          NaN        NaN           NaN
max              NaN      NaN          NaN        NaN           NaN

       approx_cost(for two people) reviews_list menu_item listed_in(type)  \
count                        51371        51717     51717           51717
unique                          70        22513      9098               7
top                            300           []        []        Delivery
freq                          7576         7595     39617           25942
mean                           NaN          NaN       NaN             NaN
std                            NaN          NaN       NaN             NaN
min                            NaN          NaN       NaN             NaN
25%                            NaN          NaN       NaN             NaN
50%                            NaN          NaN       NaN             NaN
75%                            NaN          NaN       NaN             NaN
max                            NaN          NaN       NaN             NaN

       listed_in(city)
count            51717
unique              30
top                BTM
freq              3279
mean               NaN
std                NaN
min                NaN
25%                NaN
50%                NaN
75%                NaN
max                NaN

In [4]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.preprocessing import MinMaxScaler,robust_scale,PowerTransformer
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.model_selection import train_test_split

ModuleNotFoundError: No module named 'plotly'

In [5]:
# Drop irrelevant columns
drop_cols = ['url', 'address', 'phone', 'menu_item']
df.drop(columns=[col for col in drop_cols if col in df.columns], inplace=True)

In [6]:
#Check for the missing data
(df.isnull().sum()*100/df.index.size).round(2)

name                            0.00
online_order                    0.00
book_table                      0.00
rate                           15.03
votes                           0.00
location                        0.04
rest_type                       0.44
dish_liked                     54.29
cuisines                        0.09
approx_cost(for two people)     0.67
reviews_list                    0.00
listed_in(type)                 0.00
listed_in(city)                 0.00
dtype: float64

In [7]:
len(df['location'].unique())

94

In [8]:
len(df['listed_in(city)'].unique())

30

In [9]:
locations = pd.DataFrame({'Name':df['location'].unique()})
locations.head()

                 Name
0        Banashankari
1        Basavanagudi
2         Mysore Road
3           Jayanagar
4  Kumaraswamy Layout

In [10]:
#Dropping the duplicates
df.drop_duplicates(inplace=True)
df.shape

(51645, 13)

In [11]:
df['rate'].unique()

array(['4.1/5', '3.8/5', '3.7/5', '3.6/5', '4.6/5', '4.0/5', '4.2/5',
       '3.9/5', '3.1/5', '3.0/5', '3.2/5', '3.3/5', '2.8/5', '4.4/5',
       '4.3/5', 'NEW', '2.9/5', '3.5/5', nan, '2.6/5', '3.8 /5', '3.4/5',
       '4.5/5', '2.5/5', '2.7/5', '4.7/5', '2.4/5', '2.2/5', '2.3/5',
       '3.4 /5', '-', '3.6 /5', '4.8/5', '3.9 /5', '4.2 /5', '4.0 /5',
       '4.1 /5', '3.7 /5', '3.1 /5', '2.9 /5', '3.3 /5', '2.8 /5',
       '3.5 /5', '2.7 /5', '2.5 /5', '3.2 /5', '2.6 /5', '4.5 /5',
       '4.3 /5', '4.4 /5', '4.9/5', '2.1/5', '2.0/5', '1.8/5', '4.6 /5',
       '4.9 /5', '3.0 /5', '4.8 /5', '2.3 /5', '4.7 /5', '2.4 /5',
       '2.1 /5', '2.2 /5', '2.0 /5', '1.8 /5'], dtype=object)

In [12]:
def handle_rate(value):
    if(value=='NEW' or value=='-'):
        return np.nan
    else:
        value = str(value).split('/')
        value = value[0]
        return round(float(value),1)
    
df['rate'] = df['rate'].apply(handle_rate)
df['rate'].head()

0    4.1
1    4.1
2    3.8
3    3.7
4    3.8
Name: rate, dtype: float64

In [13]:
def handle_cost(value):
    value = str(value)
    if ',' in value:
        value = value.replace(',','')
        return float(value)
    else:
        return float(value)
    
df['votes'] = df['votes'].apply(handle_cost)
df['votes'].unique()

array([ 775.,  787.,  918., ..., 4957., 2382.,  843.], shape=(2328,))

In [14]:
#Remove the Nan values 
df.dropna(inplace=True)
df.head()

,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,listed_in(type),listed_in(city)
0,Jalsa,Yes,Yes,4.1,775.0,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",Buffet,Banashankari
1,Spice Elephant,Yes,No,4.1,787.0,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",Buffet,Banashankari
2,San Churro Cafe,Yes,No,3.8,918.0,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",Buffet,Banashankari
3,Addhuri Udupi Bhojana,No,No,3.7,88.0,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",Buffet,Banashankari
4,Grand Village,No,No,3.8,166.0,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",Buffet,Banashankari

In [15]:
df.isnull().sum()

name                           0
online_order                   0
book_table                     0
rate                           0
votes                          0
location                       0
rest_type                      0
dish_liked                     0
cuisines                       0
approx_cost(for two people)    0
reviews_list                   0
listed_in(type)                0
listed_in(city)                0
dtype: int64

In [16]:
#columns to snake_case
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

In [17]:
# Drop rows with essential missing values
df.dropna(subset=['rate', 'approx_cost(for_two_people)'], inplace=True)
print("Shape after basic cleaning:", df.shape)

Shape after basic cleaning: (23247, 13)

In [18]:
# Example: IQR method for cost column
Q1 = df['approx_cost(for_two_people)'].quantile(0.25)
Q3 = df['approx_cost(for_two_people)'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [19]:
# Capping outliers instead of removing
df['approx_cost(for_two_people)'] = np.where(
    df['approx_cost(for_two_people)'] > upper_bound,
    upper_bound,
    np.where(
        df['approx_cost(for_two_people)'] < lower_bound,
        lower_bound,
        df['approx_cost(for_two_people)']
    )
)

NameError: name 'upper_bound' is not defined